/* Estils base */
body {
    font-family: Georgia, serif;
    background-color: #fff;
    font-size: 14px;
}

.main-title {
    color: #008eb0;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* E6: Media Queries per a la tipografia i el títol */
@media (max-width: 768px) {
    .main-title { font-size: 20px; text-align: center; }
    .main-nav a { font-size: 14px; }
}

/* Estil Post-it (de l'exercici anterior) */
.card-postit {
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.pink { background-color: #fdeaea !important; transform: rotate(-1deg); }
.green { background-color: #eafdea !important; transform: rotate(1deg); }

.card-postit:hover {
    transform: scale(1.05) rotate(0deg);
    z-index: 5;
}

/* Botó Register Estil Personalitzat */
.btn-register-top {
    background-color: #8cc63f;
    color: white;
    font-size: 24px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #7cb535;
}
.btn-register-top:hover { background-color: #7cb535; color: white; }

.reg-bot {
    background-color: #89cdf0;
    border-radius: 0 0 5px 5px;
    font-size: 12px;
}

.who-box {
    background-color: #fffdc9;
    border: 1px solid #e3e1aa;
    transform: rotate(1deg);
}
